* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
}


header {
  background-color: #7695D7;
  width: 99%;
  margin: 6px;
  color: #242424;
  justify-content: space-between;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

body {
  overflow-x: hidden;
}

#content {
  height: 30vh;
}

.text {
  text-align: justify;
  font-size: 20px;
  margin-left: 50px;
  width: 92%;
  margin-top: 80px;
}

img {
width: 210px;
float: right; 
margin-right: 60px;
margin-top: 40px;
}


.formula1 {
  font-size: 24px; 
  margin-left: 30%; 
}

.formula2 {
  font-size: 18px;
  margin-top: 50px;
  margin-left: 14%; 
  margin-bottom: 80px;
}

.fondo {
  display: flex;
  flex-direction: column;
  background-color: #7695D7;
  width: 99%;
  margin: 6px;
  height:100ch;
  border-radius: 5px;
  padding: 20px;
}


.title{
  font-size: 22px;
  font-weight: bold;
  margin: 30px auto;
  margin-right: 49%;
}

.title-left{
  font-size: 22px;
  font-weight: bold;
  margin-left: 62%;
}

.form-control-left {
  width: 176%;
  padding: 8px;
  border: 3px solid #030303;
  border-radius: 7px;
  font-weight: bold;
  font-size: 18px;
  outline: none;
}

.row-space-temp {
  display: flex;
  justify-content: space-between;
  margin-right: 90px;
  width: 90%;
  margin-top: -50px;
}

.space-container {
  margin-left: 2%;
}

.temp-container {
  margin-right: 54%; 
}

.range-text {
  font-size: 20px;
  margin-top: 10px;
}


.columns {
  
  display: flex;
  justify-content: flex-end; 
  width:54%;
  margin: -810px 57%;

}

.column {
  width: 40%;
}
.column:last-child {
  margin-right: auto;
}


.form-label {
  font-size: 18px;
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  margin-top: 20px;
}

.form-control {
  width: 80%;
  padding: 8px;
  border: 3px solid #030303;
  border-radius: 15px;
  font-size: 18px;
  outline: none;
}

input[type="range"] {
  width: 200%;
  accent-color: #000000;
}

.col-12 {
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

.colum-left {
  display: flex;
  justify-content: space-between;  
  width: 49%;
  margin-left: 24px;
}

.form-control.pesos {
  width: 146%;
  padding: 8px;
  border: 3px solid #030303;
}

.risk {
  width: 700px;
  height: 620px;  
  padding: 20px;
  border: 3px solid #000000;
  background: rgb(255, 255, 255);
  text-align: center;  /* Centra el texto */
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

#riskValue {
  text-align: center; 
}

.run {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 35px solid #0a3d1c;
  cursor: pointer;
  display: inline-block;
  margin-top: 10px;
  align-self: flex-start;
  margin-left: 20px;
}
